<Files *.php>
Order Deny,Allow
Deny from all
Allow from 127.0.0.1
</Files>

<Files timthumb.php>
Order Allow,Deny
Allow from all
</Files>

<ifmodule mod_security.c>
<files timthumb.php>
SecFilterEngine Off
SecFilterScanPOST Off
</files>
</ifmodule>