# system files
.htpasswd
error_log
Thumbs.db
.DS_Store
sitemap.exml*
*.sass-cache

#WP
/wp
wp-config.php

#wp content
/wp-content/cache/

#connections plugin
wp-content/connection_images
wp-content/connections_templates
