/* Sidebar Commander */
#widget_area_txt_input {
	width: 84%;
}

.optionsicon {
    display: block;
    float: left;
    margin-right: 8px;
    padding-bottom: 10px;
    position: relative;
    top: 0px;
}

.sc_container h3 {
    line-height: 0;
    margin: 0px 0 1em;
	padding-top: 8px;
}

.sc_container {
	margin: 0px auto;
	width: 285px;
	padding: 0px 0px 0px 0px
}

#custom-widgets-width-trigger {
	cursor:pointer;
	padding: 10px 6px 10px 0px;
	clear: both;
	font-size: 11px;
}

#custom-widgets-width-toggle p {
	margin-top: 0px;
}

#custom-widgets-width-toggle {
	/*float: right;*/
	padding: 0px 6px 0px 0px;
	clear: both;
}

#no_widget_areas {
	margin-top: 0px;
	font-style:italic;
	font-size: 11px;
	color: #d3110d;
}

.sc_desc{
	font-size: 11px;
}

/* Tooltips */

.tooltip {
display:none;
background-color:#ffa;
border:1px solid #cc9;
padding:5px;
font-size:13px;
max-width: 400px;
-moz-box-shadow: 2px 2px 11px #666;
-webkit-box-shadow: 2px 2px 11px #666;
cursor: help;
}

.tooltipimg {
display: inline;
cursor: help;
}

/* Font Icons */

#wpbody-content span.sm-icon {
font-family: "socialicoregular";
font-size: 32px;
position: relative;
bottom: -2px;
display: inline-block;
color: #fff;
width: 24px;
height: 24px;
border-radius: 15px;
margin-right: 3px;
}

.sm-icon p {
margin: 0;
position: absolute;
font-size: 27px;
line-height: 1;
}

.sm-icon.fb {
background: #2e74b8;
}
.fb p {
top: 0px;
right: 7px;
}

.sm-icon.tw {
background: #76cfd5;
}
.tw p {
top: 1px;
right: 2px;
}

.sm-icon.pin {
background: #ca1e25;
}
.pin p {
top: 2px;
right: 2px;
font-size: 24px;
}

.sm-icon.yt {
background: red;
}
.yt p {
top: 0;
right: 4px;
}

.sm-icon.fr {
background: #f80073;
}
.fr p {
top: 0;
right: 2px;
}

.sm-icon.google {
background: #000;
}
.google p {
top: 0;
right: 7px;
}

.sm-icon.linkedin {
background: #3481aa;
}
.linkedin p {
top: 1px;
right: 5px;
font-size: 24px;
}

.sm-icon.rss {
background: #ec7423;
}
.rss p {
top: 1px;
right: 3px;
font-size: 23px;
}

a.sm-icon:hover {
text-decoration: none;
}

/* Icon Fonts
-------------------------------------------------------------- */

@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico/socialico-webfont.eot');
    src: url('../fonts/socialico/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}